<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>乐享 - 快乐源于分享</title>
    <meta name="Keywords" content="乐享">
    <!--<base href="/back/">-->
    <meta name="Description" content="乐享 - 快乐源于分享">

    <script type="text/javascript" src="../res/js/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="../res/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../res/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="../res/js/index-header.js"></script>
    <script type="text/javascript" src="../res/js/personal.js"></script>

    <link rel="stylesheet" href="../res/css/index-footer.css">
    <link rel="stylesheet" href="../res/css/index-header.css">
    <link rel="stylesheet" href="../res/css/bootstrap.min.css">
    <link rel="stylesheet" href="../res/css/personal.css">
    <link rel="stylesheet" href="../res/css/font-awesome.min.css">
    <style>
        .container {
            width: 75%;
            height: 450px;
            margin: 0 auto;
            position: relative;
        }
    </style>
</head>
<body style="padding: 0px;margin: 0px">
<div class="header-div">
    <div class="index-header">
        <div class="logo">
            <a href="#" style="text-decoration: none">
                <span class="name">乐享</span>
            </a>
        </div>
        <div class="discover">
            <a href="#" style="text-decoration: none">
                <span class="name">发现</span>
            </a>
        </div>
        <div class="search">
            <input type="text" class="search-input" id="search-input" placeholder="搜索你感兴趣的内容......">
        </div>
        <!--写分享-->
        <div class="share">
            <a href="../user/goToShare" style="text-decoration: none">
                <span class="name">添加分享</span>
            </a>
        </div>
        <!--session存在-->
        <div class="userlogin" th:if="${session.session_user_key == null}">

            <a href="user/goToLogin?type=0&from=0" target="_parent" style="text-decoration: none">
                <span name="">登录</span>
            </a>
            <a href="user/goToLogin?type=1&from=0" target="_parent" style="text-decoration: none">
                <span name="">注册</span>
            </a>
        </div>
        <!--用户中心-->
        <div class="usercenter" th:if="${session.session_user_key != null}">
            <div class="userinfo">
                <a>
                    <img src="../res/img/avatar.png" class="avatar">
                </a>
                <p th:if="${session.session_user_key != null}" th:text="${session.session_user_key.username}"
                   class="usercenter-username">
            </div>
            <div class="useroperator">
                <ul>
                    <li><a href="../user/personal"><i
                            class="glyphicon glyphicon-home usercenter-i"></i><span>我的主页</span></a></li>
                    <li><a href="../user/setup"><i class="glyphicon glyphicon-cog usercenter-i"></i><span>设置</span></a>
                    </li>
                    <li><a href="../user/feedback"><i
                            class="glyphicon glyphicon-comment usercenter-i"></i><span>帮助与反馈</span></a></li>
                    <li><a href="../user/loginOut"><i
                            class="glyphicon glyphicon-log-out usercenter-i"></i><span>退出</span></a></li>
                </ul>
            </div>
        </div>


        </input>
    </div>

    <!--内容-->
    <div class="container">
        <div class="wrap" id="wrap">
            <div class="sidebar" style="text-align: left">
                <div class="sidebar-avatar-div">
                    <img src="../res/img/avatar.png" class="sidebar-avatar">
                    <span th:if="${session.session_user_key != null}"
                          th:text="${session.session_user_key.username}"></span>
                </div>
                <div class="info">
                    <ul>
                        <li>
                            <div class="meta-block">
                                <p>0</p>
                                关注
                            </div>
                        </li>
                        <li>
                            <div class="meta-block">
                                <p>1</p>
                                粉丝
                            </div>
                        </li>
                        <li>
                            <div class="meta-block">
                                <p>0</p>
                                分享
                            </div>
                        </li>
                        <li>
                            <div class="meta-block">
                                <p>10000</p>
                                <div>收获点赞</div>
                            </div>
                        </li>
                        <li>
                            <div class="meta-block">
                                <p>0</p>
                                <div>收获喜欢</div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"></div>
                <hr>
                <div class="sidebar-operator">
                    <ul class="list-group" style="margin-top: 20px">
                        <li class="list-group-item">
                            <a>
                                <i class="fa fa-rss"></i>
                                <span>动态</span>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="#" id="goGetMyShare">
                                <i class="fa fa-share"></i>
                                <span>我的分享</span>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a>
                                <i class="fa fa-file"></i>
                                <span>我的收藏</span>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a>
                                <i class="fa fa-comment"></i>
                                <span>我的评论</span>
                            </a>
                        </li>
                    </ul>

                    <ul class="list-group">

                        <li class="list-group-item">
                            <a>
                                <i class="fa fa-heart"></i>
                                <span>喜欢</span>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a>
                                <i class="fa fa-eye"></i>
                                <span>关注</span>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a>
                                <i class="fa fa-users"></i>
                                <span>粉丝</span>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a>
                                <i class="glyphicon glyphicon-thumbs-up"></i>
                                <span>点赞</span>
                            </a>
                        </li>
                    </ul>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a>
                                <i class="glyphicon glyphicon-bell"></i>
                                <span>消息</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="content">
                <div class="content-operator">
                    <input type="hidden" th:if="${session.session_user_key != null}" th:value="${session.session_user_key.userId}" id="userId">
                    <input type="hidden" id="page" value="1">
                    <ul>
                        <li>
                            我的分享
                        </li>
                    </ul>

                </div>
                <div id="share-ul-div" class="col-xs-16">
                    <ul class="share-list" id="share-container">

                    </ul>
                    <input type="button" class="btn btn-default" id="view-more-button" value="">
                </div>
            </div>
        </div>
    </div>
    <div class="footer-div">
        <div class="index-footer">
            公共底部显示区域
        </div>
    </div>
</div>
</body>
</html>