<!--<link rel="stylesheet" href="../resource/css/bootstrap.min.css">-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <script type="application/javascript" src="../res/js/jquery-3.2.1.js"></script>
    <script type="application/javascript" src="../res/js/index-header.js"></script>
    <link rel="stylesheet" href="../res/css/index-header.css">
</head>
<body>
<div class="index-header">
    <div class="logo">
        <a href="/">
            <span class="name">乐享</span>
        </a>
    </div>
    <div class="discover">
        <a href="/">
            <span class="name">发现</span>
        </a>
    </div>
    <div class="search">
        <input type="text" class="search-input" id="search-input" placeholder="搜索你感兴趣的内容......">
    </div>
    <!--写分享-->
    <div class="share">
        <a href="/">
            <span class="name">添加分享</span>
        </a>
    </div>
    <div class="userlogin">
        <a href="../user/goToLogin" target="_parent">
            <span name="">登录</span>
            </a>
        <a href="../user/goToLogin" target="_parent">
            <span name="">注册</span>
        </a>
    </div>
</div>
</body>

