.wrap{
   margin-top: 10px;
    color: rebeccapurple;
    background:red;

}
.content{
    float: left;
    border:1px solid gainsboro;
    width: 75%;
    margin-right:5px;
    margin-bottom: 5px;
}
.sidebar{
    float: left;
    width: 20%;
    margin-left:5px;
    margin-bottom: 5px;
    border: 1px solid gainsboro;
}