
.index-header{
    width: 100%;
    height: 60px;
    border-bottom: 1px solid gainsboro;
}


.index-header .logo {
    float: left;
    margin-top: 10px;
    margin-left: 60px;
}
.index-header .discover{
    float: left;
    float: left;
    margin-top: 20px;
    margin-left: 30px;
}
.index-header .discover a span.name {
    font-size: 20px;
}

.index-header .search {
    float: left;
}

.index-header .search .search-input {
    margin-top: 10px;
    height: 35px;
    margin-left: 200px;
    width: 200px;
    border-radius: 15px;
    border: 0;
    outline: none;
    background: #eee;
    border: none;
    font-size: 16px;
    font-family: Helvetica, Tahoma, Arial;
    color: grey;
    padding-left: 15px;
}

.index-header .search .search-button {
    border-radius: 15px;
    width: 60px;
    height: 40px;
}

.index-header .logo a span.name {
    font-size: 30px;
}

.index-header .userlogin {
    float: right;
    /*margin-top: 10px;*/
    /*margin-left: 10px;*/
    margin-right: 100px;
    margin-top: 20px;
    font-size: 20px;
}
.usercenter{
    width: 150px;
    /*border: 1px solid gainsboro;*/
    float: right;
    margin-right: 100px;
    font-size: 16px;
    margin-top: 0px;
}
.avatar{
    margin-left: 5px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.usercenter-username{
    float: right;
    margin-top: 20px;
    margin-right: 5px;
}
.index-header .share {
    float: right;
    margin-top: 20px;
    margin-right: 25px;
}

.index-header .share a span.name {
    font-size: 20px;
}
.useroperator{
    border: 1px solid gainsboro;
    border-radius: 5px;
    position: absolute;
    background: white;
    width: 150px;
    z-index: 1000;
}
.usercenter ul{
    padding:5px 0px 0px 0px;
}
.usercenter li{
    list-style-type: none;
    height: 50px;
    line-height: 50px;
    text-align: left;
}
.usercenter li a{
    text-decoration: none;
}
.personal-li{
    background: url("../img/personal.ico") no-repeat top;
}

.usercenter-i{
    color: #EC6D51;
    margin-right: 15px ;
    margin-left: 20px
}