a {
    text-decoration: none;
}

.wrap {
    margin-top: 10px;
    min-width: 800px;
}

.sidebar {
    float: left;
    width: 20%;
    margin-left: 5px;
    margin-bottom: 5px;
    border-left: 1px solid gainsboro;
}

.content {
    float: left;
    /*border:1px solid gainsboro;*/
    width: 75%;
    /*min-height: 800px;*/
    margin-left: 5px;
    margin-bottom: 5px;
}

.author {
    margin-bottom: 10px;
    font-size: 15px;
}

.author a {
    color: #333;
}

.author .time {
    color: #969696;
}

.author .name {
    display: inline-block;
    vertical-align: middle;
    padding-left: 20px;
}

.author .name span {
    color: #969696;
    font-size: 12px;
}

.avatar {
    width: 48px;
    height: 48px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}

.avatar img {
    width: 100%;
    height: 100%;
    border: 1px solid #ddd;
    border-radius: 50%;
}

#share-content {
    padding-left: 20px;
    padding-right: 20px;
    line-height: 30px;
}

.operator i {
    color: #EC6D51;
    /*float: right;*/
    margin-right: 20px;
    font-size: 16px;
}

.operator {
    padding-left: 50px;
    padding-right: 50px;
}

.chats {
    background: #fff;
}

.shadow-box {
    background-color: #fff;
    margin-bottom: 14px;
    border: 1px solid #ebebeb;
    box-shadow: 0px 1px 1px rgba(209, 212, 221, 0.15);
    border-radius: 0;
}

.chats .chat_other {
    border-bottom: 1px solid #e5e5e5;
}

.chats .chat_other h4 {
    margin: 5px;
    display: block;
    height: 40px;
    line-height: 40px;
    font-weight: 500;
}

.chats .its {
    padding-left: 15px;
    padding-right: 15px;
}

.chats .its li {
    display: block;
    padding: 15px 0;
    border-bottom: 1px solid #e5e5e5;
}

.chats .its li .avt {
    display: block;
    width: 40px;
}

.chats .its li .avt img {
    width: 100%;
    border-radius: 4px;
}

.chats .chat_body {
    margin-left: 50px;
    font-size: 13px;
    line-height: 18px;
}

.chats .chat_body h5 {
    margin: 0;
    display: block;
    font-weight: 500;
    height: 25px;
    line-height: 20px;
    overflow: hidden;
}

.chats .chat_body a {
    color: #1f8902;
    font-size: 12px;
}

.chats .chat_body span {
    color: #b4b4b4;
    margin-left: 5px;
}

.chats .chat_body .quote {
    background: #f4f4f4;
    margin-top: 10px;
    padding: 10px;
}

.chats .reply_this a {
    color: #ff8a00;
    font-size: 12px;
    height: 20px;
    cursor: pointer;
}

.chats .chat_p {
    color: #9c9c9c;
}

.chats .chat_reply {
}

.cbox-wrap {
    padding: 15px;
}

.cbox-wrap .cbox-title {
    margin-bottom: 10px;
    font-weight: 500;
}

.cbox-wrap .cbox-post {
    border: 1px solid #ccc;
}

.cbox-wrap .cbox-post a {
    color: #9c9c9c
}

.cbox-wrap .cbox-input {
}

.cbox-wrap .cbox-input textarea {
    border-style: none;
    display: block;
    width: 100%;
    padding: 6px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    overflow-y: auto;
    overflow-x: hidden;
    resize: none;
}

.cbox-wrap .fa-2 {
    font-size: 1.7em;
}

.cbox-wrap .cbox-ats {
    padding: 0;
    display: block;
    border-top: 1px solid #ccc;
}

.cbox-wrap .ats-func {
    float: left;
}

.cbox-wrap .func-list {
    padding: 0;
    overflow: hidden;
}

.cbox-wrap .func-list .list-b {
    float: left;
    padding: 0;
    height: auto;
    border: none;
    border-right: 1px solid #ccc;
}

.cbox-wrap .join {
    display: block;
    padding: 3px 8px 2px;
}

.cbox-wrap .join:hover {
    color: #ff8a00
}

.cbox-wrap .ats-issue {
    float: right;
}

.cbox-wrap .ats-issue .btn {
    border-radius: 0 !important;
    padding: 5px 16px;
}

#chat_reply {
    color: #1f8902;
}



/*	Phiz	表情	*/
.phiz-box {
    padding-top: 10px;
    text-align: center;
}

.phiz-box:before, .phiz-box:after {
    content: "";
    display: table;
}

.phiz-box:after {
    clear: both;
}

.phiz-list {
    display: inline-block;
    padding-right: 1px;
    padding-bottom: 1px;
}

.phiz-list:before, .phiz-list:after {
    content: "";
    display: table;
}

.phiz-list:after {
    clear: both;
}

.phiz-box span {
    float: left;
    height: 34px;
    width: 34px;
    padding: 4px;
    margin-right: -1px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #d8d8d8;
}
.comment-tip{
    color: #EC6D51;
    height: 40px;

    text-align: center;
    border-radius: 10px;
}
